@charset "utf-8";

a{text-decoration:none;}
/* 框架 */
body{background:#FFFFFF;font-size:14px;color:#333333;font-family:Arial,"微软雅黑","宋体";}
#header{height:50px;background:#FFFFFF;min-width:1280px;position:relative;z-index:101;}
#menu{height:50px;line-height:50px;min-width:1280px;background:url(../images/bg.png) repeat-x left 0;}
#container:after{clear: both;content: ".";display: block;font-size: 0;height: 0;overflow: hidden;}
#container{zoom: 1;width:100%;min-width:1280px;}
.side{float:left;width:230px;display:inline;background:#FFFFFF;}
#main{float:right;width:100%;margin-left:-230px;height:auto!important;min-height:600px;height:600px;}
.content{background:#EAEAEB;margin:0 0 0 230px;padding:1px 10px 15px 15px;height:auto!important;min-height:600px;height:600px;border-left:#BFBFBF 1px solid;}
#footer{position:relative;z-index:100;width:100%;min-width:1280px;height:60px;padding-top:10px;line-height:20px;color:#A9AFB7;border-top:1px solid #CCCCCC;text-align:center;}





/* 输入框 */
.input-text{background:white;border:0px solid #AAAAAA;height:23px;line-height:23px;color:#666666;padding:0 5px;border-radius:1px;box-shadow:2px 2px 3px rgba(0, 0, 0, .1) inset;}
.input-text1{background:white;border:1px solid #AAAAAA;height:25px;line-height:25px;color:#666666;padding:0 5px;width:330px;border-radius:1px;box-shadow:2px 2px 3px rgba(0, 0, 0, .1) inset;}
.input-text2{background:white;border:1px solid #AAAAAA;height:35px;line-height:35px;color:#666666;padding:0 5px;width:330px;border-radius:1px;box-shadow:2px 2px 3px rgba(0, 0, 0, .1) inset;}
.input-text-user{border:#D8D8D8 1px solid;border-radius:3px;width:290px;padding-left:40px;height:32px;line-height:32px;background:white url(../images/img.png) no-repeat 0px top;}
.input-text-password{border:#D8D8D8 1px solid;border-radius:3px;width:290px;padding-left:40px;height:32px;line-height:32px;background:white url(../images/img.png) no-repeat 0px -50px;}
.input-text-user.error{background:#FFD2D2 url(../images/img.png) no-repeat 0px top;border-width:3px;}
.input-text-password.error{background:#FFD2D2 url(../resources/images/img.png) no-repeat 0px -50px;border-width:3px;}


/* 按钮 */
button,a.btn{background:#3D6AA2 url(../images/bg.png) repeat-x left top;border:1px solid #3D6AA2;margin:0 5px;border-radius:2px;padding:1px 10px;height:24px;line-height:20px;cursor:pointer;color:#FFFFFF;}
a.btn{display:block;float:left;line-height:24px;}
button.btn-gray,a.btn.btn-gray{background:#3D6AA2 url(../images/bg.png) repeat-x left -321px;border:#AAAAAA 1px solid;color:#666666;text-shadow:0 1px 0 #FFFFFF;}
button.btn-gray.hover,a.btn.btn-gray:hover{background-position:left -580px;}
button.hover,a.btn:hover{background-position:left -80px;}
button.disabled,a.btn.disabled{background:#999999;color:#666666;border:1px solid #666666;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4;opacity: 0.4; cursor:default;text-shadow:0 1px 0 #FFFFFF;}


button.btn-big,a.btn-big{width:342px;margin:0;height:40px;font-size:14px;}
button.btn-oversized,a.btn-oversized{width:150px; text-align:center;float:none;margin:0 auto; height:40px;line-height:40px;font-size:18px;padding:0 15px;}
button.btn-img,a.btn-img{line-height:26px;*position:relative;*padding-left:30px;}
button.btn-img .icon,a.btn-img .icon{margin:0 0 -6px -3px;*position:absolute;*left:5px;*top:0px;}

a.btn-big1{height:35px;line-height:35px;font-size:15px;padding:0 20px;}

.login-btn{display:block;background:url(../images/bg.png) repeat-x left top;width:330px;text-align:center;height:35px;line-height:35px;color:white;font-size:16px;border-radius:3px;border:1px solid #215A8D;}






/* body */
.bodyWhite{background:#FFFFFF;}
.bodyWhite #container{background:#FFFFFF;}
.bodyWhite #container .content{background:#FFFFFF;}
.widescreen #container{margin:0;background:#EAEAEB;}
.widescreen #container .content{padding:0 0 30px 0;margin:0;box-shadow:none;border:none;}
.widescreen .widget-box{padding:30px;background:white;margin:20px 30px 0 30px;border-radius:3px;border:1px solid #CCCCCC;}
.widescreen .widget-box .widget-title{margin:-31px -31px 0 -31px;border-color:#CCCCCC;}
.widescreen .widget-content{border:0;}
.loginbody{background:#D6E4FF;}
.dataEye{background:url() no-repeat center top;position:absolute;left:0;top:0;right:0;bottom:0;}


/* login */
.loginbox,.not-box{width:400px;margin:50px auto 100px auto;}
.loginbox .logo-a,.not-box .logo-a{height:150px; text-align:center;}
.loginbox .loginbox-title{background:#FFFFFF;height:70px;border-radius:3px 3px 0 0;}
.loginbox .loginbox-title .logo{padding:12px 20px;}
.loginbox .loginbox-title h3{color:#666666;padding:0 20px; line-height:50px;font-size:16px;border-bottom:1px solid #F2F2F2;}
.loginbox .login-content{border:1px solid #CCCCCC;border-radius:3px;padding-bottom:20px;}
.loginbox .login-content .text{width:330px;margin:0 auto;line-height:25px;}
.loginbox .login-content .text h5{font-size:14px;}
.loginbox .login-content{background:#FFFFFF;height:auto!important;min-height:100px;height:100px;font-size:14px;}
.loginbox .login-content .row{width:330px;margin:0 auto;padding:20px 0;position:relative; border:0;}
.loginbox .login-content .row .field{position:absolute;left:40px;top:23px;height:35px;line-height:35px;pointer-events:none;}
.loginbox .login-content .tips{padding:5px 0;height:25px;font-size:14px;}
.loginbox .login-content .tips input{margin-right:5px;}
.loginbox .login-content .btnArea{padding:0;margin:15px auto 5px auto;}
.loginbox .login-content .row .noPic{background-image:none;padding:0 15px;width:300px;height:34px;line-height:34px;}

/* regist */
.registbox{margin-top:20px;}
.registbox .reg-content{}
.registbox .reg-content .row{padding:10px 0; }
.registbox .reg-content .row .field{position:absolute;left:10px;top:13px;height:35px;line-height:35px;}
.registbox .reg-content .row .noPic{background-image:none;padding:0 15px;}
.registbox .reg-content .row label.error{position:absolute;left:auto;right:10px;bottom:5px;}

.btn_sms{ display:inline-block; width:160px; height:40px;background:#215A8D;font: 400 16px/40px 'Microsoft YaHei'; color:#FEFEFE; text-align:center }
.btn_sms:hover{background:#215A8D; color:#FEFEFE;}
.btn_sms:active{background:#215A8D;color:#FEFEFE;}

